.container{
    border: 6px solid;
    width: 350px;
    height: 600px;
   /* margin-top: 45px; */
    margin-left: 35%;
    border-radius: 30px;
    overflow: scroll;
    scrollbar-width: none;
    
}
#sub{
    width: 350px;
    height: 600px;
    position: absolute;
    border-radius: 29px;
    margin-top: 4px;

    

}
.container .header{
    height: 70px;
    background-color:greenyellow;
    border-radius: 25px 25px 0px 0px;
    top: opx;
    width: 350px;
    position: fixed;
    z-index: 1;
    
   
   

}
#sub1{
    font-size: 50px;
   
    
}
img{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    margin-top: 10px;  
    
}
h3{
    width:50px ;
    height: 50px;
    top: 0%;
    left: 32%;
    margin-top: 8%;
    position: absolute;
}
#sub2{
    font-size: 30px;
    position: absolute;
    top: 0px;
    margin-left: 120px;
    margin-top: 25px;
   
}
#sub3{
    font-size: 25px;
    top:0px;
    margin-left: 165px;
    margin-top: 25px;
    position: absolute;
    
}
#sub4{
    font-size:25px ;
    top: 0px;
    position: absolute;
    margin-left: 200px;
    margin-top: 26px;  
}
h4{
    top: 80px;
    margin-left: 100px;
    position: sticky;
    background-color: white;
    border-radius:6px;
    width: fit-content;
    font-size: 15px;
    padding: 4px;
    z-index: 1;
}
p{
    top:60px;
    position: relative;
    margin-left: 290px;
   
}
.text1{
    top:55px;
    position: relative;
    margin-left: 130px;
   
}
.text2{
    top:55px;
    position: relative;
    margin-left:195px;
    
}
.text3{
    top:45px;
    position: relative;
    margin-left:5px;
    
}
.text4{
    top:35px;
    position: relative;
    margin-left:5px;
 

}
.text5{
    top:25px;
    position: relative;
    margin-left:5px;
  

}

/*.date{
    top: 300px;
    margin-left: 100px; 
    background-color: white;
    border-radius:6px;
    width: fit-content;
    font-size: 15px;
    padding: 4px;
}*/
.text6{
    top:25px;
    position: relative;
    margin-left:100px;
    

}
/*.date1{
    top: 520px;
    margin-left: 100px; 
    background-color: white;
    border-radius:6px;
    width: fit-content;
    font-size: 15px;
    padding: 4px;
    
}*/
.text8{
    top:25px;
    position: relative;
    margin-left:215px;
   
}
.text9{
    top:25px;
    position: relative;
    margin-left:206px;
    
}
.text10{
    top:25px;
    position: relative;
    margin-left:140px;
    

}
.text11{
    top:25px;
    position: relative;
    margin-left:140px;
   

}
.text12{
    top:17px;
    position: relative;
    margin-left:150px;
   

}
.text13{
     top:0px;
    position: relative;
    margin-left:5px;
    
}
.child1{
    height: 45px;
    background-color:white;
    border-radius: 25px;
    bottom: 18px;
    width: 295px;
    position: fixed;
    bottom: 3%;
    margin-left: 5px;
    z-index: 1;
}
.bi-emoji-smile{
    font-size: 25px;
    position: relative;
    top:10px;
    margin-left: 10px;
}
.text14{
    position: absolute;
    top:0px;
    margin-left: 45px;
    font-size: 15px;
    letter-spacing: 1px;
}
.bi-paperclip{
    font-size: 25px;
    position: relative;
    top:10px;
    margin-left: 150px;
}
.bi-currency-rupee{
    position: relative;
    top: 10px;
    font-size: 25px; 
    left: 2px;  
}
.bi-camera{
    position: relative;
    font-size: 25px; 
    top: 10px;
    left: 9px;
}
.child2{
    background-color: white;
    width: 45px;
    height: 45px;
    bottom: 3.5%;
    position: fixed;
    margin-left: 303px;
    border-radius: 25px;
}
.bi-mic-fill{
    position: relative;
    font-size: 20px; 
    top: 10px;
    left: 11px;

}
.subclass{
    background-color: white;
    width: 40px;
    height: 45px;
    position: relative;
    bottom: 0%;
    margin-left: 10px;
    border-radius: 25px;
    
}
.bi-telephone-outbound{
    display: inline-block;
    position: relative;
    bottom: 50%;
    top: 15px;
    margin-left: 12px;  
}
.subclass2{
    display: inline-block;
    background-color: white;
    width: 80px;
    height: 50px;
    position:relative;
    bottom: 31%;
    margin-left: 45px;  
    border-radius: 10px;
}
.text15{
    display: inline-block;
    position:relative;
    top:-5px;
    margin-left: 6px;
   
   
}
.text16{ 
    position:absolute;
    top:13px;
    margin-left: 10px;
    font-size: 13px;
    
}
.text17{
    top:10px;
    position: relative;
    margin-left:270px;
  
}
.text18{
    top:10px;
    position: relative;
    margin-left:170px;
}
.text19{
    top:10px;
    position: relative;
    margin-left:5px;

}
.text20{
    top:26px;
    position: relative;
    margin-left:5px;

}


